
            h1 {
                color: brown;
            }

            * {
                border: white;
            }
        
            .grid{
                display:flex;
                flex-wrap: wrap;
                  justify-content: space-evenly;
            }

            .header{
                display: flex;
                justify-content: space-between;

            }
            .footer{
                display: flex;
                justify-content: flex-end;
            }
            h2,p{
                text-align: center;
            }